:root {
  --primaryColor: hsl(224, 48%, 16%); 
  --TextColor: hsl(0, 0%, 100%);
  --BtnTextColor: hsl(0, 0%, 100%);
  --ascentColor: hsl(350, 79%, 59%);
  --BackgroundColor: hsl(213, 73%, 22%);
  --HoverAscentColor: hsl(350, 54%, 40%);
  --Circle: hsl(350, 79%, 59%);
  --UA: linear-gradient(hsl(207, 90%, 54%) 0%, hsl(207, 90%, 54%) 50%, hsl(45, 100%, 51%) 50%, hsl(45, 100%, 51%) 100%);
  --PL: linear-gradient(hsl(0, 0%, 100%) 0%, hsl(0, 0%, 100%) 50%, hsl(0, 100%, 50%) 50%, hsl(0, 100%, 50%) 100%);;
  --EN:center / cover no-repeat url(./united-kingdom-flag-icon.svg);
  --Flag: var(--EN);
  font-size: 62.5%;
}

html {
  box-sizing:border-box;
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  background: var(--primaryColor) ;
  background-image: url(./bg_jobseeker_md.png);
  background-repeat: repeat !important;
  background-size: 25rem 25rem ;
  /* background-size: cover; */
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 2.4rem;
}

h2 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
  margin: 0;

}
.show {
  display: "";
}
.hide {
  display: none;
}

.profile-card {
  background: var(--Circle);
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: rem 3px 6px rgba(0, 0, 0, 0.16), rem 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: rem 3px 6px rgba(0, 0, 0, 0.16), rem 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.profile-card header {
  color: var(--TextColor);
  margin-top: 5rem;
  opacity: 0;
  text-align: center;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-card header h1 {
  color: var(--ascentColor);
}

.profile-card header a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 2.5rem 3rem;
}

.profile-card header .link-a:after {
  position: absolute;
  content: "";
  bottom: 0.3rem;
  right: 0.3rem;
  width: 2rem;
  height: 2rem;
  border: 0.4rem solid var(--primaryColor);
  -webkit-transform: scale(0);
  transform: scale(0);
  background: var(--Flag);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
  animation: scaleIn 0.3s 3.5s ease forwards;
}
.profile-card:after {
  content: "";
}

.profile-card header a > img {
  width: 15rem;
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0 0 0 0.8rem var(--primaryColor);
  box-shadow: 0 0 0 0.8rem var(--primaryColor);
}

.profile-card header a:hover > img {
  -webkit-box-shadow: 0 0 0 1.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1.5rem rgba(0, 0, 0, 0.1);
}

.profile-card .profile-bio {
  width: 17.5rem;
  height: 18rem;
  display: inline-block;
  float: right;
  padding: 5rem 2rem 3rem 2rem;
  color: var(--TextColor);
  margin-top: 5rem;
  text-align: center;
  opacity: 0;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-social-links {
  padding: 1.5rem 2rem;
  margin-top: 5rem;
  text-align: end;
  opacity: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-social-links li {
  list-style: none;
  padding: 0;
  float: left;
  width: 25%;
  text-align: center;
}

.profile-social-links li a {
  display: inline-block;
  color: var(--ascentColor);
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.6rem;
  position: relative;
  overflow: hidden!important;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.profile-social-links li a:hover {
  color: var(--HoverAscentColor);
}

.profile-social-links li a i {
  position: relative;
  font-size: 1.8rem;
  z-index: 1;
}

.profile-social-links li a img,
.profile-social-links li a svg {
  width: 4rem;
}

.cv-download {
  display: none;
  margin: 0 !important;
  color: var(--ascentColor);
}
.cv-download:hover {
  margin: 0 !important;
  color: var(--HoverAscentColor);
}

/* ********************************************** */
/* ! Tooltip box */
/* ********************************************** */
.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(data-tooltip); 
  position: absolute;
  width: 8rem;
  background-color: var(--TextColor);
  color: var(--ascentColor);
  text-align: center;
  padding: 0.5rem;
  line-height: 1.2;
  border-radius: 0.6rem;
  z-index: 1;
  opacity: 0;
  transition: opacity .6s;
  bottom: 125%;
  left: 100%;
  margin-left: -6rem;
  visibility: hidden;
  font-size: 1rem;
}

.tooltip:hover:before, .tooltip:hover:after {
  opacity: 1;
  visibility: visible;
}

/* ********************************************** */
/* ! Top buttons  */
/* ********************************************** */
#settings-menu {
  position: absolute;
  z-index: 999;
}

.nav-container  {
  display: flex;
  width: 100vw;
    justify-content: space-evenly;
    margin: 1rem;
}

.btn {
  color: var(--BtnTextColor);
  opacity: 50%;
  font-size: 1.2rem;
  background: none;
  border: none;
  top: 1rem;
  left: 1rem;

}

@-webkit-keyframes init {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 5.6rem;
    height: 5.6rem;
    margin-top: o;
    opacity: 1;
  }
}

@keyframes init {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 5.6rem;
    height: 5.6rem;
    margin-top: o;
    opacity: 1;
  }
}

@-webkit-keyframes puff {
  0% {
    top: 100%;
    height: 0;
    padding: 0;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0 100%;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0;
    padding: 0;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0 100%;
  }
}

@-webkit-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    -webkit-border-radius: 0;
  }
}

@keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    border-radius: 0;
  }
}

@-webkit-keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes moveUp {
  0% {
    background: var(--Circle);
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: var(--BackgroundColor);
  }
}

@keyframes moveUp {
  0% {
    background: var(--Circle);
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: var(--BackgroundColor);
  }
}

@-webkit-keyframes materia {
  0% {
    background: var(--BackgroundColor);
  }
  50% {
    -webkit-border-radius: 0.4rem;
  }
  100% {
    width: 50rem;
    height: fit-content;
    background: var(--BackgroundColor);
    -webkit-border-radius: 0.4rem;
  }
}

@keyframes materia {
  0% {
    background: var(--BackgroundColor);
  }
  50% {
    border-radius: 0.4rem;
  }
  100% {
    width: 50rem;
    height: fit-content;
    background: var(--BackgroundColor);
    border-radius: 0.4rem;
  }
}

@-webkit-keyframes moveIn {
  0% {
    margin-top: 5rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -2rem;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 5rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -2rem;
  }
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  body {
    /* background-size: cover; */
  }
  body:before {
    width: 0;
  }
  @-webkit-keyframes puff {
    0% {
      top: 100%;
      width: 0;
      padding-bottom: 0;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @keyframes puff {
    0% {
      top: 100%;
      width: 0;
      padding-bottom: 0;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}

@media screen and (min-height: 480px) {
  .profile-card header {
    width: auto;
    height: auto;
    padding: 3rem 2rem;
    display: block;
    float: none;
    border-right: none;
  }
  .profile-card .profile-bio {
    width: auto;
    height: auto;
    padding: 1.5rem 2rem 3rem 2rem;
    display: block;
    float: none;
  }
  .profile-social-links {
    width: 100%;
    display: block;
    float: none;
  }

  @-webkit-keyframes materia {
    0% {
      background: var(--BackgroundColor);
    }
    50% {
      -webkit-border-radius: 1rem;
    }
    100% {
      width: 30rem;
      height: 55rem;
      background: var(--BackgroundColor);
      -webkit-border-radius: 1rem;
    }
  }
  @keyframes materia {
    0% {
      background: var(--BackgroundColor);
    }
    50% {
      -webkit-border-radius: 1rem;
    }
    100% {
      width: 30rem;
      height: 55rem;
      background: var(--BackgroundColor);
      -webkit-border-radius: 1rem;
    }
  }
}

@media screen and (min-width: 144rem) {
  :root {
    font-size: 100%;
  }
}